# Unsupervised learning

This notebook contains some unsupervised approaches.

In [1]:
%cd ..

/project

In [2]:
import os
from pathlib import Path
from pandas_profiling import ProfileReport
from src.data import *

In [4]:
activities = load_activity_names(); activities
features_df = load_feature_data() \
    .merge(activities) \
    .drop('activity_id', axis=1) \
    .sort_values(['subject_id', 'time_exp']) \
    .reset_index(drop=True)
features_df.shape

(7352, 564)

## Clustering time points

Here we ask if the data naturally clusters into six activities, and we compare the labels found with the actual ones.

In [5]:
from sklearn.cluster import KMeans
kmod = KMeans(n_clusters=6)
kmod_fit = kmod.fit(features_df.drop(['subject_id', 'time_exp', 'activity_name'], axis=1))
activity_hat = kmod.predict(features_df.drop(['subject_id', 'time_exp', 'activity_name'], axis=1))

When we cross-tabulate the actual labels with the classified ones, we see a lot of zeros, indicating there is legitimate separation. Indeed, it seems the active and inactive activities are mutually exclusively clustered

In [6]:
pd.crosstab(features_df.activity_name.values,
            activity_hat,
            rownames=['True'],
            colnames=['Classified'])

Classified            0    1    2    3    4     5
True
LAYING              164    0    0    0   10  1233
SITTING             304    0  932    0    1    49
STANDING            412    0  962    0    0     0
WALKING               0   84    0  555  587     0
WALKING_DOWNSTAIRS    0  225    0  627  134     0
WALKING_UPSTAIRS      0   44    0  215  814     0