# Unsupervised learning

This notebook contains some unsupervised approaches.

In [1]:
%cd ..

/project

In [2]:
import os
from pathlib import Path
from pandas_profiling import ProfileReport
from src.data import *

In [3]:
activities = load_activity_names(); activities
features_df = load_feature_data() \
    .merge(activities) \
    .drop('activity_id', axis=1) \
    .sort_values(['subject_id', 'time_window_s']) \
    .reset_index(drop=True)
features_df.shape

(7352, 564)

## Clustering time points

Here we ask if the data naturally clusters into six activities, and we compare the labels found with the actual ones.

In [4]:
from sklearn.cluster import KMeans
kmod = KMeans(n_clusters=6)
kmod_fit = kmod.fit(features_df.drop(['subject_id', 'time_window_s', 'activity_name'], axis=1))
activity_hat = kmod.predict(features_df.drop(['subject_id', 'time_window_s', 'activity_name'], axis=1))

When we cross-tabulate the actual labels with the classified ones, we see a lot of zeros, indicating there is legitimate separation. Indeed, it seems the active and inactive activities are mutually exclusively clustered

In [5]:
pd.crosstab(features_df.activity_name.values,
            activity_hat,
            rownames=['True'],
            colnames=['Classified'])

Classified            0     1    2    3    4    5
True
LAYING                0  1233   10  164    0    0
SITTING               0    49    1  304  932    0
STANDING              0     0    0  412  962    0
WALKING             555     0  587    0    0   84
WALKING_DOWNSTAIRS  627     0  134    0    0  225
WALKING_UPSTAIRS    215     0  814    0    0   44